body {
    overflow: hidden;
    background: black;
}
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #bgVideo {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #bgVideo {
        width: auto;
        height: 100%;
    }
}
.logo {
    padding: 10px 0;
}
#ttt {
    width: 15vw;
    height: 15vw;
    border-radius: 100px;
}
.text {
    font-size: 4vw;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 2px 0;
}
#text2 {
    font-size: 7vw;
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro {
    align-items: center;
}
.college {
    color: white;
    font-weight: bold;
    font-size: 2vw;
    padding-top: 6px;
}
.loc {
    margin-left: 5px;
}