* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 200px;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-height: 100dvh;
}

/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 100;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
 
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  z-index: 999;
  pointer-events: all;
} */

body {
  background-color: #000000;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(7, 7, 65);
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(7, 7, 65);
  border-radius: 10px;
}

#title {
  color: white;
}



.navbar-brand {
  font-weight: bold;
  font-size: 200%;
}

.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar img {
  height: 60px;
  width: 75px;
  padding-right: 15px;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
}

.navbar .link {
  color: white !important;
}

.navbar .link:hover {
  background: cyan !important;
  color: #000000 !important;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.ml-auto {
  text-align: center;
  color: white;
}

.bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 30%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 50px;
  margin-right: 50px
}

.heading {
  position: relative;
  margin-top: 200px;
  color: white;
  font-size: 300%;
  /* padding-right: 0;
  margin-right: 0; */
}

/* .heading .row {
  display: block;
} */

.heading h1 {
  font-weight: bold;
  font-size: 150%;
}

/* CountDown */

.count {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: fit-content; */
  /* background: #2f363e; */
}

@media only screen and (max-width: 768px) {
  #time {
    width: 50px !important;
  }
}

.count .container {
  /* position: absolute; */
  /* left: 0; */
  padding: 0;
  margin: 0;
}

#time {
  display: flex;
  gap: 10px;
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #282828;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 0.9em;
}

#time div span {
  position: absolute;
  transform: translateX(-50%) translateY(-10px);
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

#time .dots::before {
  content: '';
  position: absolute;
  top: -3px;
  /* left: 0; */
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

 @media only screen and (max-width: 768px){

  .heading .row {
    display: block !important;
  }
  
} 

/* .newYear {
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 0.6em;
}

.newYear span {
  font-size: 0.5em;
  font-weight: 300;
} */

/* Count Down end */

.about-us {
  color: white;
  margin-top: 200px;
  width: 100%;
}

.about-us h1 {
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 50px;
}

.about-us .headline {
  font-size: 1.4rem;
}

.about-us .headline span {
  display: block;
  text-align: center;
  padding-top: 10px;
}

.about-us .row p, h4 {
  text-align: left;
  padding: 10px 0;
}

.about-us .row i {
  border: 2px solid white;
  padding: 10px;
  margin-right: 10px;
}

.eve {
  margin-top: 200px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  /* width: 100%; */
  
}

.eve-in {
  margin-bottom: 30px;
  color: white;
}
.eve-in h1 {
  font-size: 300%;
  font-weight: 900;
  line-height: 1.5;
}

/* .eve-row {
  margin: -20px;
} */

/* .eve-row div {
  /* overflow: hidden;
  width: 100%; */
  /* justify-content: space-between; 
}  */

.img {
  position: relative;
  max-width: 255px;
  height: 195px;
} /* 223 by 147 */

.card {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border: none;
}

/* .card:hover {
  transform: rotateY(180deg);
} */

.img:hover .card {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: transparent;
  background: #00ffff;
}

.front .img-fluid {
  width: 100%;
  max-height: 169.328px;
  overflow: hidden;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: cyan;
  color: #000000;
  transform: rotateY(180deg);
}

.back .btn-lg {
  width: min-content;
  margin: 4px;
  font-size: small;
}

.back h4 {
  font-weight: 900;
}

.back .btn-lg::first-letter {
  text-transform: capitalize;
}
/* .eve-row {
  margin-left: 130px;
} */
/* .eve-hover {
  left: 100%;
  background-color: white;
  right: auto;
  display: none;
  padding: 10px;
  margin-bottom: 10px;
} */

/* .eve-hover button {
  top: 100px;
} 

.eve img {
} */

.student {
  color: white;
  margin-top: 200px;
}

.student .btn-lg::first-line {
  text-transform: capitalize;
}

/* .student .btn-lg {
  margin-top: 0;
} */

.student h1 {
  font-size: 300%;
  font-weight: bold;
}

.student h3, h5 {
  font-weight: bold;
}

.student h3 {
  color: #00ffff;
  padding: 10px 0;
}

.sponsor {
  position: relative;
  color: white;
  margin-top: 200px;
  width: 100%;
}

.sponsor .img{
  min-width: 350px;
  padding: 0;
  margin-bottom: 65px;
}

.sponsor h1 {
  font-size: 300%;
  font-weight: bold;
  padding-bottom: 20px;
}

.team {
  margin-top: 250px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  padding: 0;
  
}

.team .by2 {
  padding-right: 7px;
}

.our-team {
  margin-bottom: 30px;
  color: white;
}
.our-team h1 {
  font-size: 300%;
  font-weight: 900;
  line-height: 1.5;
}

/* .team-row {
  width: 100%;
} */

.team-row div {
  overflow: hidden;
  width: 100%;
}

.img {
  margin: 5px 0;
}

.team-row .img {
  min-height: 400px;
  min-width: 247px;
  width: 247px;
  background: rgb(52, 52, 52);
  padding: 0 !important;
}

.team-row img {
  height: 247px;
  width: 247px;
}

.team-row .img .container {
  padding: 5px 0 0 20px;
  margin: 0;
}

.team-row .img .container h4 {
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

.team-row .img .container h5 {
  /* font-weight: 700; */
  font-size: 4mm;
  color: cyan;
  margin: 5;
}

.team-row .img .container h6 {
  font-weight: 100;
  color: #ffffff;
}

.coord, .crew {
  margin-top: 100px;
}

.coord h2, .crew h2 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: 20px;
}

.coord h3, .crew h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 5px;
}

.coord .r {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  /* text-align: left; */
}

.coord .r .c1 {
  text-align: left;
}

.coord .r .c2 {
  text-align: right;
}

/* .team-row {
  margin-left: 130px;
} */
/* .team-hover {
  left: 100%;
  background-color: white;
  right: auto;
  display: none;
  padding: 10px;
  margin-bottom: 10px;
} */

/* .team-hover button {
  top: 100px;
} 

.eve img {
} */

/* @media (max-width: 980px)
.eve-hover {
    width: 100%;
    padding: 20px 45px 20px 20px;
} */

/* .feature {
  align-self: center;
  padding-left: 8%;
}
.feature .slide {
  list-style: none;
  padding: 0;
}
.feature .slide li {
  height: 400px;
  width: 300px;
  border-radius: 4px;
  background-color: #00bcd4;
  display: flex;
}
.feature .slide li h2 {
  margin-top: auto;
  background: #fff;
  width: 100%;
  padding: 20px 20px;
  display: block;
  bottom: 0;
}
.feature .slide li:nth-child(n) {
  background-color: #3599db;
}
.feature .slide li:nth-child(2n) {
  background-color: #e61b77;
}
.feature .slide li:nth-child(3n) {
  background-color: #00bcd4;
}
.feature .slide li:nth-child(4n) {
  background-color: #f4b251;
}
.feature .slide li:nth-child(5n) {
  background-color: #8e4497;
} */

/* STACKED CARDS */
/* .cards {
  position: relative;
}

.cards ul {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
  padding-left: 0;
}

.cards li {
  margin-top: 5px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0px #333;
  list-style: none;
  width: 65%;
  position: absolute;
  left: 50%;
  transition: 0.5s ease transform;
}

.cards li:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cards li img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 4;
}

.cards li.active {
  cursor: default;
  box-shadow: 0 5px 10px 0px #333;
  transition: 0.5s ease transform;
} */

.form {
  position: relative;
  color: white;
  margin-top: 500px;
  width: 50%;
  padding: 20px;
}

.form h1 {
  font-size: 300%;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  color: #fff;
  background: linear-gradient(135deg, #852d91, #312a6c);
  font-size: 22px;
  font-weight: 700;
  text-transform: lowercase;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn:hover {
  color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: rotate 0.7s ease-in-out both !important;
}
.btn:before,
.btn:after {
  content: "";
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.btn:hover:before,
.btn:hover:after {
  opacity: 0.15;
}
.btn:hover:before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}
.btn:hover:after {
  transform: translate(50%, 0) scale(1.1);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* @media only screen and (max-width: 767px) {
  .btn {
    margin-bottom: 20px;
  }
} */

/* .social {
  z-index: 100;
} */

.social a {
  color: white;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  position: fixed;
  left: 2px;
  bottom: 20px;
  z-index: 100;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}


/* .wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #ffffff;
} */

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: #ffffff;
}

.wrapper .mail:hover,
.wrapper .mail:hover .tooltip,
.wrapper .mail:hover .tooltip::before {
  background: #ff0000;
  color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background: #25D366;
  color: #ffffff;
}

.wrapper .maps:hover,
.wrapper .maps:hover .tooltip,
.wrapper .maps:hover .tooltip::before {
  background: #ff6800;
  color: #ffffff;
}

.footer {
  text-align: center;
  color: white;
  background-color: #0a0117;
  margin: 300px 0 0 0;
  padding: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  padding-top: 20px;
}

.footer1 {
  /* text-align:; */
  color: white;
  /* background-color: #7019e9; */
  margin: 300px 0 0 0;
  padding: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
}

.footer1 address {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.gmap iframe {
  aspect-ratio: 4/3;
  width: 500px;
  border: none;
  border-radius: 20px;
  margin: auto;
}

#copyright {
  display: block;
  padding: 0;
  margin: 0;
  background: #000000;
  width: 100%;
  color: white;
  height: 100%;
  bottom: 0;
}

#copyright h6 {
  margin: 0;
  padding: 10px 0;
}