#bgVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#ttt {
    width: 0;
    height: 0;
    border-radius: 70px;
    margin-right: 20px;
}
#text {
    display:inline;
    font-size: 50px;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
}
.intro {
    margin-top: 100px;
    margin-left: 23%;
}
.loader {
    margin-top: 30px;
    margin-left: 45%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}